# Copy this file to .env and fill real values.
SECRET_KEY=--$-ew#8fappz00bnlrv0xpox$e+3xy58@rhm3%b%ns&72x67p
VOTE_ENCRYPTION_SECRET=d5fbaf566af713cdab8db6a8d63552d042c83ac89159af1966581c4b4853661e
DEBUG=True
ALLOWED_HOSTS=*
