<!DOCTYPE html>
<html>
<head>
  <title>Face Registration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
  .camera-box {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  video {
    width: 320px;       /* 🔥 adjust if needed */
    height: 240px;
    border-radius: 10px;
    border: 2px solid #333;
    background: black;
  }
</style>
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="card shadow p-4 text-center">
    <h3>Face Registration</h3>
    <p class="text-muted">One-time face enrollment</p>

        <div class="camera-box">
            <video id="video" autoplay muted></video>
        </div>
    <canvas id="canvas" style="display:none;"></canvas>

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="image" id="imageData">

      <button type="button" class="btn btn-primary mt-3" onclick="capture()">Capture Face</button>
      <button type="submit" class="btn btn-success mt-3">Save Face</button>
    </form>
  </div>
</div>

<script>
navigator.mediaDevices.getUserMedia({ video: true })
.then(stream => video.srcObject = stream);

function capture(){
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas.getContext("2d").drawImage(video,0,0);
  document.getElementById("imageData").value =
      canvas.toDataURL("image/png");
}
</script>

</body>
</html>
